#contact {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #642956, #38246d);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: 100%;
}

.contact-container-1 {
    width: 50%;
    height: 100%;
}

.contact-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: violet;
}

.contact-container-2 .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
}