@font-face {
    font-family: Centra;
    src: url("../font/CentraNo2-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Centra;
    src: url("../font/CentraNo2-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url("../font/CentraNo2-Book.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;   
    scrollbar-width: none;
    }

::-webkit-scrollbar {
    display: none;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    color: white !important;
    font-family: Centra, sans-serif !important;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    line-height: normal;
}
